body {
    font-family:  "roboto";
    min-height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    background-color:  #00284d;
    padding-bottom: 100px;
}

.container-1 {
    display: flex;
    padding: 16px 0 16px 0;
    align-items: center;
    justify-content: space-between;
    margin: 0 180px 80px 180px;
}

.logo {
    color: white;
    font-size: 28px;
    font-weight: bolder;
}

.link-group {
    display: flex;
    gap: 15px;
}

.sign-button {
    width: 110px;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    border: none;
}

.main-image {
    width: 500px;
    height: auto;
    border-radius: 10px;
    background-color: white;
}

.link, .subtext {
    color: #e5e7eb;
    font-size: 18px;
}

.title {
    color: white;
    font-size: 48px;
    font-weight: bolder;
}

.container-2 {
    display: flex;
    color: white;
    margin: 0 180px 0 180px;
    gap: 64px;
    justify-content: space-between;
}

.container-3
{
    display: flex;
    flex-direction: column;
}

.mid-section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.mid-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.gif-group {
    display: flex;
    gap: 40px;
}

.gif {
    width: 165px;
    height: auto;
}

figure { 
    display: table;
}


figcaption {
    display: table-caption;
    caption-side: bottom;
    text-align: center;
    vertical-align: top;
    margin-top: 0;
    color: #68696b;
    font-size: 18px;
}

.mid-section-2 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 110px 300px 80px 300px;
}

.quote {
    font-size: 36px;
    color: #68696b;
    font-style: italic;
    font-weight: light;
}

.author {
    color: #00284d;
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
}

.banner {
    background-color: #3882f6;
    display: flex;
    margin: 100px 200px;
    padding: 50px;
    border-radius: 10px;
}

.banner-text {
    display: flex;
    flex-direction: column;
    color: white;
}

.banner-title {
    font-size: 32px;
    font-weight: bold;
}

.banner-subtext {
    display: flex;
    font-size: 24px;
}

.please {
    font-size: 10px;
    align-self: flex-end;
    padding-left: 10px;
}

.banner-button {
    width: 110px;
    height: 50px;
    border-radius: 10px;
    padding: 0px 15px 0px 15px;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-weight: bold;
    margin-left: auto;
    border: solid white;
    justify-self: center;
    align-self: center;
}

.footer {
    background-color: #00284d;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: center;
}

a {
    color: #ffa34e;
    text-decoration: none;
    font-weight: bolder;
}